<div>Plants</div>

<div class="grid">
  <div class="grid-cell">
    <md-card *ngFor="let plantInstance of plantInstances">
      <md-card-title>
        {{ plantInstance.commonName }}
      </md-card-title>
      <md-card-subtitle>
        Nickname: {{ plantInstance.name }}
      </md-card-subtitle>
      <md-card-subtitle>
        Owner: {{ plantInstance.owner }}
      </md-card-subtitle>
      <img md-card-image src="http://lohitsascience.weebly.com/uploads/2/2/6/0/22607136/622994_orig.jpg">
      <button md-raised-button>View details</button>
    </md-card>
  </div>
</div>