<p>Dashboard works</p>

<ul>
    <li *ngFor="let plantInstance of plantInstances | async">
        {{ plantInstance.$key }}
        <div>Owner:
            <input type="text" #newplantowner placeholder="{{ plantInstance.owner }}" />
            <button (click)="changePlantOwner(plantInstance.$key, newplantowner.value)">Change owner</button></div>
        <div>Birth date: {{ plantInstance.birthdate }}</div>
        <div>Common name: {{ plantInstance.commonName }}</div>
        <button (click)="deletePlantInstance(plantInstance.$key)">Delete <strong>{{ plantInstance.$key }}</strong></button>
    </li>
</ul>